# <center>Construction de la Base</center>

## Import des Librairies

In [2]:
import csv
import datetime
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

## Connexion à la Base et Création du Curseur

In [10]:
# Create a connection to the database
conn = psycopg2.connect(dbname="Twitter-Elections", user="postgres", host="localhost", port="5432", password="password")

# Create a cursor to perform database operations
cur = conn.cursor()

# Create an SQLAlchemy engine just to use Pandas read_sql_queries
engine = create_engine("postgresql://postgres@localhost:5432/Twitter-Elections")

## Création des Tables

In [24]:
# Delete all the tables from the database if there are any
cur.execute("""
    DROP SCHEMA public CASCADE;
    CREATE SCHEMA public;
    GRANT ALL ON SCHEMA public TO postgres;
    GRANT ALL ON SCHEMA public TO public;
""")

In [25]:
# Create the tables from the SQL script
with open("db_creation.sql", "r") as f:
    cur.execute(f.read())

In [26]:
# Check if tables were correctly created
cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema='public'
        AND table_type='BASE TABLE';
   """)

cur.fetchall()

[('candidats',),
 ('tweets',),
 ('affiliation_elections',),
 ('contexte_elections',),
 ('denomination_partis',),
 ('tweets_tags',),
 ('tags',)]

## Insertion des Données Externes

### Table `candidats`

In [27]:
# Delete all entries from candidats if there are already any
cur.execute("DELETE FROM candidats")

# Reset the SERIAL primary key to make it start at 1
cur.execute("ALTER SEQUENCE candidats_id_seq RESTART")

In [28]:
# Insert data from a csv file
with open("data/candidats.csv", newline="") as f:
    reader = csv.reader(f, delimiter=";")
    headers = next(reader, None)
    for row in reader:
        row = [item if item!='' else None for item in row ]
        cur.execute("""
            INSERT INTO candidats (prenom, nom, sexe, date_naissance, id_twitter, username, compte_verifie, date_creation_compte) 
            VALUES (%s, %s, %s, TO_DATE(%s, 'DD/MM/YYYY'), %s, %s, %s, TO_DATE(%s, 'DD/MM/YYYY'))
            """, row)
        
conn.commit()

In [29]:
candidats = pd.read_sql_query("""
        SELECT 
            id,
            prenom,
            nom,
            sexe,
            date_naissance,
            CAST(id_twitter AS VARCHAR),
            username,
            compte_verifie,
            date_creation_compte
        FROM candidats
        """,con=engine, coerce_float=False)

candidats

,prenom,nom,sexe,date_naissance,id_twitter,username,compte_verifie,date_creation_compte
id,,,,,,,,
1,Sandrine,Adobati,F,1974-03-30,None,None,None,None
2,Marie-Josee,Boulaire,F,1959-01-26,1130169982917180000,boulairejosee,False,2019-05-01
3,Arnaud,Charvillat,M,1977-10-28,None,None,None,None
4,François-Marie,Didier,M,1980-10-03,1207401907129659397,fmdidier,False,2019-12-01
5,Lamia,El Aaraje,F,1986-11-22,943672818,lamiaela,True,2012-11-01
6,Mohamad-Lamine,Gassama,M,None,376865423,MohamadParis20,False,2011-11-01
7,Philippe,Houplain,M,1961-07-16,3255832605,HouplainPh,False,2015-05-01
8,Danielle,Simonnet,F,1971-07-02,329686497,Simonnet2,False,2011-07-01
9,Apolline,Tyburczy,F,1987-10-12,1489995966132412422,ApollineTyburzy,False,2022-02-01
10,Christophe,Versini,M,1995-08-10,1009368668579516416,Ch_Versini,False,2018-06-01
11,Hélène,Testud,F,1956-10-04,29447272,helenetestud,False,2009-04-01
12,Adil,Touaimia-Kabbouch,M,1991-03-03,3417457690,adil_de_paris,False,2015-08-01
13,Florence,Castillon,F,1951-02-09,1326458542266736642,CastillonFlore1,False,2020-11-01
14,Hicham,Fassi Fihri,M,1965-10-16,68457158,hichamfassifihr,False,2009-08-01
15,Hervé,Masnyou,M,1964-03-25,None,None,None,None
16,Mehdi,Kemoune,M,1972-02-17,377865606,kemounemehdi,False,2011-09-01
17,Roger,Domard,M,1945-11-09,1519977276728881155,marie_emilie_eu,False,2022-04-01
18,Olivier,Cohen,M,1963-10-25,58584212,olivier_cohen,False,2009-07-01
19,Jean-Philippe,Renau,M,1954-01-01,None,None,None,None
20,Atanase,Périfan,M,1964-08-19,2188765218,AtanasePerifan,False,2013-11-01
21,Antoinette,Guhl,F,1970-06-10,493483010,antoinetteguhl,False,2012-02-01
22,George,Pau-Langevin,F,1948-10-19,81063019,pau_langevin,False,2009-10-01
23,Nina,Abdoulhamidi,F,1978-02-26,None,None,None,None
24,Philippe,Aragon,M,1968-05-23,1728425251,aragon_paris20,False,2013-09-01
25,Dalila,Lasfar,F,1978-06-27,869912215691960320,DalilaLasfar,False,2016-05-01
26,Arnaud,Charvillat,M,1977-10-28,None,None,None,None
27,Didier,Chabaillé,M,1958-03-18,None,None,None,None
28,Jacques,Baudrier,M,1966-06-11,3362289555,jacquesbaudrier,False,2015-07-01
29,Ariane,Dreyfus,F,1991-02-15,1054417619338620929,EmmDreyfus,False,2018-10-01
30,Colette,Anglada,F,1961-12-27,None,None,None,None
31,Julien,Volganli,M,1984-11-04,None,None,None,None
32,Arnaud,Volganli,M,1977-10-28,None,None,None,None
33,Nancy,Verdier,F,1945-03-13,None,None,None,None
34,Hacen,Mohammedi,M,1985-10-27,None,None,None,None
35,Abbès,Benaissa,M,1981-05-29,None,None,None,None
36,Arlette,Zilberg,F,1956-05-20,475208227,arlette_zilberg,False,2012-01-01
37,Sonia,Ouertani,F,1986-01-20,73968763,soniaoue,False,2009-09-01
38,Elisabeth,Jaskulke,F,1963-11-21,392528127,btoplanet,False,2011-10-01
39,Nathalie,Fanfant,F,1971-01-07,85285173,nathfanfant,False,2009-10-01
40,Pénélope,Duggan,F,1953-01-02,None,None,None,None
41,Geneviève,Beduneau,F,1947-03-30,None,None,None,None
42,Didier,Le Reste,M,1955-06-02,780405831930089000,didierlereste,False,2016-09-01
43,Pierre,Mounier,M,1970-06-30,14233770,piotrr70,False,2008-03-01
44,Claude,Trannet,M,1952-10-20,223038322,TRANNET,False,2010-12-01

### Table `denomination_partis`

In [30]:
# Delete all entries from denomination_partis if there are already any
cur.execute("DELETE FROM denomination_partis")

In [31]:
# Insert data from a csv file
with open("data/denomination_partis.csv", newline="") as f:
    reader = csv.reader(f, delimiter=";")
    headers = next(reader, None)
    for row in reader:
        row = [item if item!='' else None for item in row ]
        cur.execute("""
            INSERT INTO denomination_partis
                (nom_annee_election, nom_derniere_election) 
            VALUES (%s, %s)
            """, row)
        
conn.commit()

In [32]:
denomination_partis = pd.read_sql_query("""
        SELECT *
        FROM denomination_partis
        """,con=engine, coerce_float=False)

denomination_partis

   nom_annee_election nom_derniere_election
0                 EXG                   DXG
1                 DXG                   DXG
2                  FG                   COM
3                 COM                   COM
4                  FI                    FI
5                 SOC                   SOC
6                 RDG                   RDG
7                 DVG                   DVG
8                 VEC                   VEC
9                 REG                   REG
10                ECO                   ECO
11                AUT                   DIV
12                DIV                   DIV
13                REM                   ENS
14                ENS                   ENS
15                CEN                   MDM
16                MDM                   MDM
17                DVC                   DVC
18               ALLI                   UDI
19                UDI                   UDI
20                PRV                   PRV
21                NCE                   NCE
22                UMP                    LR
23                 LR                    LR
24                DVD                   DVD
25                DLF                   DSV
26                DSV                   DSV
27                REC                   REC
28                 FN                    RN
29                 RN                    RN
30                EXD                   DXD
31                DXD                   DXD

### Table `contexte_elections`

In [33]:
# Delete all entries from contexte_elections if there are already any
cur.execute("DELETE FROM contexte_elections")

In [34]:
# Insert data from a csv file
with open("data/contexte_elections.csv", newline="") as f:
    reader = csv.reader(f, delimiter=";")
    headers = next(reader, None)
    for row in reader:
        row = [item if item!='' else None for item in row ]
        cur.execute("""
            INSERT INTO contexte_elections (annee, parti_vainqueur_presidentielles) 
            VALUES (%s, %s)
            """, row)
        
conn.commit()

In [35]:
contexte_elections = pd.read_sql_query("""
        SELECT *
        FROM contexte_elections
        """,con=engine, coerce_float=False)

contexte_elections

   annee parti_vainqueur_presidentielles
0   2012                              PS
1   2017                            LREM
2   2022                            LREM

### Table `affiliation_elections`

In [36]:
# Delete all entries from affiliation_elections if there are already any
cur.execute("DELETE FROM affiliation_elections")

# Reset the SERIAL primary key to make it start at 1
cur.execute("ALTER SEQUENCE affiliation_elections_id_seq RESTART")

In [37]:
# Insert data from a csv file
with open("data/affiliation_elections.csv", newline="") as f:
    reader = csv.reader(f, delimiter=";")
    headers = next(reader, None)
    for row in reader:
        row = [item if item!='' else None for item in row ]
        cur.execute("""
            INSERT INTO affiliation_elections (
                id_candidat, 
                annee_election,
                nom_annee_election,
                code_departement,
                code_circonscription,
                sortant,
                dissident,
                resultat_election) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
            """, row)
        
conn.commit()

In [39]:
contexte_elections = pd.read_sql_query("""
        SELECT *
        FROM affiliation_elections
        """,con=engine, coerce_float=False)

contexte_elections

,id,id_candidat,annee_election,nom_annee_election,code_departement,code_circonscription,sortant,dissident,resultat_election
0,1,1,2022,DIV,75,075-15,False,False,None
1,2,2,2022,RN,75,075-15,False,False,None
2,3,3,2022,EXG,75,075-15,False,False,None
3,4,4,2022,LR,75,075-15,False,False,None
4,5,5,2022,SOC,75,075-15,True,True,None
5,6,6,2022,REM,75,075-15,False,False,None
6,7,7,2022,REC,75,075-15,False,False,None
7,8,8,2022,FI,75,075-15,False,False,None
8,9,9,2022,ECO,75,075-15,False,False,None
9,10,10,2017,FN,75,075-15,False,False,False
10,11,11,2017,DIV,75,075-15,False,False,False
11,12,12,2017,DVD,75,075-15,False,False,False
12,13,13,2017,DVD,75,075-15,False,False,False
13,14,14,2017,ECO,75,075-15,False,False,False
14,15,15,2017,DVG,75,075-15,False,False,False
15,16,16,2017,FI,75,075-15,False,False,False
16,17,17,2017,EXG,75,075-15,False,False,False
17,18,18,2017,DIV,75,075-15,False,False,False
18,19,19,2017,DIV,75,075-15,False,False,False
19,20,20,2017,LR,75,075-15,False,False,False
20,21,21,2017,ECO,75,075-15,False,False,False
21,22,22,2017,SOC,75,075-15,True,False,True
22,23,23,2017,ECO,75,075-15,False,False,False
23,24,24,2017,DVD,75,075-15,False,False,False
24,25,25,2017,RDG,75,075-15,False,False,False
25,26,3,2017,EXG,75,075-15,False,False,False
26,27,27,2017,DLF,75,075-15,False,False,False
27,28,28,2017,COM,75,075-15,False,False,False
28,29,29,2017,DIV,75,075-15,False,False,False
29,30,30,2017,DIV,75,075-15,False,False,False
30,31,31,2012,AUT,75,075-15,False,False,False
31,32,32,2012,EXG,75,075-15,False,False,False
32,33,33,2012,DVD,75,075-15,False,False,False
33,34,34,2012,AUT,75,075-15,False,False,False
34,35,35,2012,AUT,75,075-15,False,False,False
35,36,22,2012,SOC,75,075-15,False,False,True
36,37,36,2012,VEC,75,075-15,False,False,False
37,38,37,2012,CEN,75,075-15,False,False,False
38,39,38,2012,PRV,75,075-15,False,False,False
39,40,39,2012,UMP,75,075-15,True,False,False
40,41,40,2012,EXG,75,075-15,False,False,False
41,42,41,2012,FN,75,075-15,False,False,False
42,43,42,2012,FG,75,075-15,False,False,False
43,44,43,2012,AUT,75,075-15,False,False,False
44,45,44,2012,DVD,75,075-15,False,False,False

## Close the Connection and Cursor

In [16]:
# Closing of of cursor and connection
cur.close()
conn.close()